apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: gitea
spec:
  type: ClusterIP
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 3000
    - port: 22
      targetPort: 22
